<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :dob %>
  <div class="input-group date" id="datetimepicker">
    <%= f.text_field :dob, placeholder: "Select the date and time", class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  </div></br>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :gender %>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <div class="col-md-3">
          <%= f.radio_button :gender, false, :checked => true %>
        </div>
        <div class="col-md-9">
          <%= f.label :gender, "Male", value: 1 %></br>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <div class="col-md-3">
          <%= f.radio_button :gender, true %>
        </div>
        <div class="col-md-9">
          <%= f.label :gender, "Female", value: 0  %>
        </div>
      </div>
    </div>
  </div></br>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.label :city_id %>
  <%= f.select :city_id, City.all.collect {|c| [c.name, c.id]},
    {include_blank: true}, class: "form-control" %>

  <%= f.fields_for :profiles do |profile| %>
    <%= render "profile_fields", f: profile %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "Add address", f, :profiles, class: "btn btn-primary" %>
  </div></br>

  <%= f.submit "create", class: "btn btn-primary" %>
<% end %>
